<!DOCTYPE html>
<html>
    <head>
        <title>Hello Spring Boot!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>Demo project</h1>
        <p> Search IP addresses of Private Network on search providers ... </p>
        <p> Current version use FAKE search provider which just generate random numbers</p>
        <p> You can start/stop downloader thread and see (pageable) list of searched IPs </p>
        
        <a href="/status">[Worker STATUS]</a>
        <a href="/list">[IP LIST]</a>
    </body>
</html>